# Londoner Fahrradfahrten

## 1 Vorarbeitung

### 1.1 Importieren der benötigten Module

In [37]:
# https://www.youtube.com/watch?v=nl9eZl1IOKI
# Installing required modules
%pip install pandas
%pip install zipfile
%pip install kaggle

import pandas as pd  # library to explore the data
import zipfile  # used to extract the file that will be downloaded from Kaggle
import kaggle  # used to programatically download the dataset

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\jwu\appdata\roaming\python\python311\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\jwu\appdata\roaming\python\python311\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (2.28.2)
Requirement already satisfied: tqdm in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (1.26.14)
Requirement already satisfied: bleach in c:\users\jwu\appdata\roaming\python\python311\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\jwu\appdata\roaming\python\python311\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from requests->kaggle) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jwu\appdata\roaming\python\python311\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\jwu\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import os

### 1.2 Herunterladen der Daten

In [39]:
# Downloading the dataset using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

### 1.3 Entpacken der Archiv-Datei

In [40]:


cwd = os.getcwd()  # Pfad des aktuellen Verzeichnisses
zip_file_path =  cwd + '\\london-bike-sharing-dataset.zip'  # Pfad zur Zip-Datei

# Zielverzeichnis
extract_folder = cwd + "\\bike_data"

# Erstellen des Zielverzeichnisses, wenn nicht existent
os.makedirs(extract_folder, exist_ok=True)

# Zip Datei öffnen
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

### 1.4 Dataframe erstellen

In [41]:
# CSV-Datei in dataframe einlesen:
bikes = pd.read_csv(extract_folder+'\\london_merged.csv',)

## 2 Daten erforschen

### 2.1 Erster Überblick über die Daten

In [42]:
# Dataframe erforschen
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [43]:
bikes.shape

(17414, 10)

In [44]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

### 2.2 Anzahl der Unique Wetter-Codes

In [45]:
# Anzahl der Wettercodes je Code:
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

### 2.3 Anzahl der Unique Season

In [46]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

## 3 Datenmanipulation

### 3.1 Umbenennen der Spalten

In [53]:
# Umbenennen der Spalten
new_cols_dict = {
    'timestamp' : 'Datum',
    'cnt' : 'Anzahl',
    't1' : 'Temp_°C',
    't2' : 'Temp_gefühlt_°C',
    'hum' : 'Luftfeuchtigkeit_Proz',
    'wind_speed' : 'Wind_Geschwindigkeit',
    'weather_code' : 'Wetter',
    'is_holiday' : 'ist_Feiertag',
    'is_weekend' : 'ist_Wochenende',
    'season' : 'Jahreszeit'
}

# Kopieren der Daten
my_bikes = bikes.copy()

# Umbenennen der Spalten
my_bikes.rename(new_cols_dict, axis=1, inplace=True)

### 3.2 Wertekorrektur Luftfeuchtigkeit

In [54]:
# Ändern der Werte auf Prozent-werte (zwischen 0 und 1)
my_bikes.Luftfeuchtigkeit_Proz = my_bikes.Luftfeuchtigkeit_Proz / 100

### 3.3 Wertekorrektur Jahreszeit

In [55]:
# Erstellen eines Jahreszeiten-Dictionary um die Zahlen in leicht verständliche Werte zu transformieren
season_dict = {
    '0.0' : 'Frühling',
    '1.0' : 'Sommer',
    '2.0' : 'Herbst',
    '3.0' : 'Winter'
}

my_bikes.Jahreszeit = my_bikes.Jahreszeit.astype('str')  # Ändert den Datentyp der Jahreszeit in String
my_bikes.Jahreszeit = my_bikes.Jahreszeit.map(season_dict)  # Mappen der Werte

### Werte-Manipulation Wetter

In [56]:
# Erstellen eines Wetter-Dictionary
weather_dict = {
    '1.0' : 'Klar',
    '2.0' : 'Vereinzelte Bewölkung',
    '3.0' : 'Aufgelockerte Bewölkung',
    '4.0' : 'Bedeckt',
    '7.0' : 'Regen',
    '10.0' : 'Gewitter',
    '26.0' : 'Schneefall'
}

my_bikes.Wetter = my_bikes.Wetter.astype('str')
my_bikes.Wetter = my_bikes.Wetter.map(weather_dict)

In [57]:
# Prüfung
my_bikes.head()

,Datum,Anzahl,Temp_°C,Temp_gefühlt_°C,Luftfeuchtigkeit_Proz,Wind_Geschwindigkeit,Wetter,ist_Feiertag,ist_Wochenende,Jahreszeit
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Aufgelockerte Bewölkung,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Klar,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Klar,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Klar,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Klar,0.0,1.0,Winter

## 4 Export

In [59]:
# schreiben der finalen Daten in ein Excel-file
my_bikes.to_excel(extract_folder+"\\london_bikes_final.xlsx", sheet_name='Daten')

## 5 Visualisierung

https://public.tableau.com/app/profile/jesco.wurm/viz/LondonerFahrradfahrten/Dashboard1?publish=yes