# Vectorized Operations with Series

## Introduction
In this brief project, we'll learn about "Vectorized Operations". In particular, we'll learn about Vectorized Operations applied to Pandas Series; but in reality, they're a concept original from NumPy, and we'll use it A LOT with DataFrames.

So, the examples we'll see here might look trivial, but trust us that they'll be very useful throughout all your Pandas journey.

Let's get started!

## Understanding Vectorized Operations
Vectorized Operations means just applying a "global" function to an entire Series.
First, we initialize the Series we've been using, this time we name it revenue_in_millions. That's the same series we've used so far, and it captures the revenue of the companies (listed in the Index) in Millions of dollars.

We then create A NEW Series named revenue_in_billions just by dividing the whole Series by 1000:

In [1]:
import pandas as pd

In [2]:
companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]
revenue_in_millions = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

In [3]:
revenue_in_billions = revenue_in_millions / 1000

In [4]:
revenue_in_billions

Apple                274.515
Samsung              200.734
Alphabet             182.527
Foxconn              181.945
Microsoft            143.015
Huawei               129.184
Dell Technologies     92.224
Meta                  85.965
Sony                  84.893
Hitachi               82.345
Intel                 77.867
IBM                   73.620
Tencent               69.864
Panasonic             63.191
Name: Top Technology Companies by Revenue, dtype: float64

That's it! That's a vectorized operation. We say it's "vectorized" because it doesn't act on just 1 value, but in the whole vector of values contained in the Series.

Available Operators
For now, we'll mostly focus on the regular arithmetic operators: +, -, *, /, **, etc. But you'll see in further labs that we can create vectorized operations with String operations or even our own custom functions.

Practice time
Now it's your turn to practice some vectorized operations before we advance to the following section.

## Understanding Vectorized Operations

### 1. Subtract $50B from all companies in revenue_in_billions

The recession just hit! Let's say you need to subtract $50B from all the companies in revenue_in_billions. Store the new series in the variable revenue_recession

In [6]:
revenue_recession = revenue_in_billions - 50
revenue_recession

Apple                224.515
Samsung              150.734
Alphabet             132.527
Foxconn              131.945
Microsoft             93.015
Huawei                79.184
Dell Technologies     42.224
Meta                  35.965
Sony                  34.893
Hitachi               32.345
Intel                 27.867
IBM                   23.620
Tencent               19.864
Panasonic             13.191
Name: Top Technology Companies by Revenue, dtype: float64

### 2. reate a new series expressing revenue in dollars (units)

The accounting team needs more detail when calculating EBITDA. They need revenue expressed in dollar units (instead of millions or billions). Use either series revenue_in_millions or revenue_in_billions to create a new series revenue_in_dollars.

In [8]:
revenue_in_dollars = revenue_in_millions * 1000000
revenue_in_dollars

Apple                274515000000
Samsung              200734000000
Alphabet             182527000000
Foxconn              181945000000
Microsoft            143015000000
Huawei               129184000000
Dell Technologies     92224000000
Meta                  85965000000
Sony                  84893000000
Hitachi               82345000000
Intel                 77867000000
IBM                   73620000000
Tencent               69864000000
Panasonic             63191000000
Name: Top Technology Companies by Revenue, dtype: int64

## Operations between Series
If we keep the analogy of spreadsheets, you'll see that it's also possible to create operations between different Series. For example, let's say recession hits again and the revenue of all companies is affected; but not equally. We want to reduce the revenue of each company by a given percentage. For example, Apple's new revenue will be 91% of the original one, Samsung's 93%, etc.

In [9]:
recession_impact = pd.Series([
    0.91, 0.93, 0.98, 0.97, 0.99, 0.89, 0.87,
    0.82, 0.93, 0.93, 0.89, 0.97, 0.97, 0.94], index=companies)
recession_impact

Apple                0.91
Samsung              0.93
Alphabet             0.98
Foxconn              0.97
Microsoft            0.99
Huawei               0.89
Dell Technologies    0.87
Meta                 0.82
Sony                 0.93
Hitachi              0.93
Intel                0.89
IBM                  0.97
Tencent              0.97
Panasonic            0.94
dtype: float64

In [10]:
revenue_in_millions * recession_impact

Apple                249808.65
Samsung              186682.62
Alphabet             178876.46
Foxconn              176486.65
Microsoft            141584.85
Huawei               114973.76
Dell Technologies     80234.88
Meta                  70491.30
Sony                  78950.49
Hitachi               76580.85
Intel                 69301.63
IBM                   71411.40
Tencent               67768.08
Panasonic             59399.54
dtype: float64

In [11]:
# Absolute Impact:
revenue_in_millions - (revenue_in_millions * recession_impact)

Apple                24706.35
Samsung              14051.38
Alphabet              3650.54
Foxconn               5458.35
Microsoft             1430.15
Huawei               14210.24
Dell Technologies    11989.12
Meta                 15473.70
Sony                  5942.51
Hitachi               5764.15
Intel                 8565.37
IBM                   2208.60
Tencent               2095.92
Panasonic             3791.46
dtype: float64

In [12]:
# Absolute impact in Billions
(revenue_in_millions - (revenue_in_millions * recession_impact)) / 1_000

Apple                24.70635
Samsung              14.05138
Alphabet              3.65054
Foxconn               5.45835
Microsoft             1.43015
Huawei               14.21024
Dell Technologies    11.98912
Meta                 15.47370
Sony                  5.94251
Hitachi               5.76415
Intel                 8.56537
IBM                   2.20860
Tencent               2.09592
Panasonic             3.79146
dtype: float64

### 3. Calculate revenue per employee, in dollars

Using the series number_of_employees (given in the notebook), your job is to calculate revenue per employee, expressed in dollars (units). Store it in the variable revenue_per_employee.

In [13]:
number_of_employees = pd.Series([
    164000, 266673, 150028, 1290000, 221000, 195000,
    165000, 71970, 109700, 368250, 121100, 282100, 112771, 240198
], index=companies)

In [14]:
revenue_per_employee = revenue_in_dollars / number_of_employees
revenue_per_employee

Apple                1.673872e+06
Samsung              7.527346e+05
Alphabet             1.216620e+06
Foxconn              1.410426e+05
Microsoft            6.471267e+05
Huawei               6.624821e+05
Dell Technologies    5.589333e+05
Meta                 1.194456e+06
Sony                 7.738651e+05
Hitachi              2.236117e+05
Intel                6.429975e+05
IBM                  2.609713e+05
Tencent              6.195210e+05
Panasonic            2.630788e+05
dtype: float64