# Exploring DataFrames with Pokemon data

In this project, we'll explore the basics of DataFrames using a Dataset containing Pokemon information.

We'll start by reading the dataset using the pd.read_csv() method.

Then, the df.head() and df.info() methods gives us a bit more information about the underlying data.

Play around with it and once you're ready, jump to the next page to complete the activities.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
 
path_to_csv = "../../data/pokemon.csv"

In [2]:
df = pd.read_csv(path_to_csv)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           721 non-null    int64
 1   Name        721 non-null    object
 2   Type 1      721 non-null    object
 3   Type 2      359 non-null    object
 4   Total       721 non-null    int64
 5   HP          721 non-null    int64
 6   Attack      721 non-null    int64
 7   Defense     721 non-null    int64
 8   Sp. Atk     721 non-null    int64
 9   Sp. Def     721 non-null    int64
 10  Speed       721 non-null    int64
 11  Generation  721 non-null    int64
 12  Legendary   721 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 68.4+ KB

In [4]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,721.00000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,361.00000,417.945908,68.380028,75.124827,70.697642,68.848821,69.180305,65.714286,3.323162
std,208.27906,109.663671,25.848272,29.070335,29.194941,28.898590,26.899364,27.277920,1.669873
min,1.00000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,181.00000,320.000000,50.000000,54.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,361.00000,424.000000,65.000000,75.000000,65.000000,65.000000,65.000000,65.000000,3.000000
75%,541.00000,499.000000,80.000000,95.000000,85.000000,90.000000,85.000000,85.000000,5.000000
max,721.00000,720.000000,255.000000,165.000000,230.000000,154.000000,230.000000,160.000000,6.000000

## Basic Activities

### 1. How many rows has our DataFrame?

How many total rows do we have in df

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           721 non-null    int64
 1   Name        721 non-null    object
 2   Type 1      721 non-null    object
 3   Type 2      359 non-null    object
 4   Total       721 non-null    int64
 5   HP          721 non-null    int64
 6   Attack      721 non-null    int64
 7   Defense     721 non-null    int64
 8   Sp. Atk     721 non-null    int64
 9   Sp. Def     721 non-null    int64
 10  Speed       721 non-null    int64
 11  Generation  721 non-null    int64
 12  Legendary   721 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 68.4+ KB

### 2. What's the type of index of our DataFrame?

RangeIndex

### 3. How many columns does the DataFrame have?

13

### 4. What's the shape of our DataFrame?

In [7]:
df.shape

(721, 13)

### 5. What is the type of the column Name?

Object

### 6. Which columns are of a numeric type?

- '#'
- Total
- HP
- Attack
- Defense
- Sp. Atk
- Sp- Def
- Speed
- Generation

## Advanced Activities

### 7. Select the column Defense

Select the column defense and store it in the variable defense_col.

In [9]:
defense_col = df['Defense']

### 8. What's the type of the variable defense_col?

What's the type of the variable in which you've selected the column Defense?

In [10]:
type(defense_col)

pandas.core.series.Series

### 9. What's the maximum value of Attack?

Insert the whole number, without decimals

In [19]:
df['Attack'].max()

165

### 10. What's the average value for Speed?

Insert the answer up to 2 decimals. Example, if the value is 84.813799 insert just 84.81.

In [20]:
df['Speed'].mean()

65.71428571428571