# Practicing Series Vectorized Operations with Penguins Data
Now it's time to put your knowledge of vectorized operations on Pandas series to the test. In this lab, we will be working with a dataset that contains information about penguins. Each penguin is described by various attributes such as species, island, culmen length, culmen depth, flipper length, body mass, and gender.

In this lab we will practice vectorized operations on Pandas series. We will learn how to perform arithmetic operations on series and apply mathematical functions to series.

Throughout the lab, you will be presented with coding activities that require you to write code snippets to perform specific operations on the series. Each activity will be followed by a solution, allowing you to verify your code and understand the correct approach.

In addition to individual topic-based activities, there will also be mixed-topic activities that require you to combine different operations to achieve a specific outcome. These activities will test your ability to apply multiple concepts simultaneously.

By the end of this lab, you will have gained a solid understanding of vectorized operations on Pandas series and be able to manipulate and analyze data efficiently using these techniques.

Let's dive into the activities and explore the power of vectorized operations on Pandas series!

In [1]:
import pandas as pd
csv_file_path = "../../data/penguins_cleaned.csv"
df = pd.read_csv(csv_file_path)
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [2]:
# Convert all columns to pandas Series
species = df['species']
island = df['island']
culmen_length_mm = df['culmen_length_mm']
culmen_depth_mm = df['culmen_depth_mm']
flipper_length_mm = df['flipper_length_mm']
body_mass_g = df['body_mass_g']
gender = df['sex']

## Activities

### 1. Add a constant value of 100 to the body_mass_g series

Create a new series called body_mass_g_plus_100 by adding a constant value of 100 to the body_mass_g series.

In [3]:
body_mass_g_plus_100 = body_mass_g + 100

### 2. Subtract the culmen_length_mm series from the flipper_length_mm series

Subtract the culmen_length_mm series from the flipper_length_mm series and assign the result to a new series called length_difference.

In [4]:
length_difference = flipper_length_mm - culmen_length_mm

### 3. Multiply the culmen_depth_mm series by 2

Multiply the culmen_depth_mm series by 2 and assign the result to a new series called double_culmen_depth_mm.

In [5]:
double_culmen_depth_mm = culmen_depth_mm * 2

### 4. Raise the flipper_length_mm series to the power of 2

Create a new series called flipper_length_mm_squared by raising the flipper_length_mm series to the power of 2.

In [6]:
flipper_length_mm_squared = flipper_length_mm ** 2

### 5. Calculate the mean of the culmen_length_mm series and subtract it from each value in the series

Find the mean of the culmen_length_mm series and subtract it from each value in the series. Assign the result to a new series called culmen_length_mm_mean_centered.

In [7]:
culmen_length_mm_mean_centered = culmen_length_mm - culmen_length_mm.mean()

### 6. Concatenate the species and gender series, separated by a hyphen -

Create a new series called species_and_gender by concatenating the species and gender series, separated by a hyphen (-).

In [ ]:
species_and_gender = species + '-' + gender

### 7. Perform element-wise addition of culmen_length_mm and culmen_depth_mm

Add culmen_length_mm and culmen_depth_mm together and assign the result to a new variable called culmen_length_plus_depth_mm.

In [17]:
culmen_length_plus_depth_mm = culmen_length_mm + culmen_depth_mm

### 8. Sort culmen_length_mm in descending order

Create a new series called culmen_length_mm_sorted by sorting culmen_length_mm in descending order

In [16]:
culmen_length_mm_sorted = culmen_length_mm.sort_values(ascending=False)

### 9. Divide flipper_length_mm by culmen_length_mm

Find the ratio of each penguin's flipper length to its culmen length and assign the result to a new variable called length_ratio.

In [9]:
length_ratio = flipper_length_mm / culmen_length_mm